:root {
    --main-bg-color: turquoise;
    --main-ss-font: 'merriweather sans';
    --main-ds: 0px 5px 10px -5px rgba(42, 42, 42, .8);
}

* {
    /* box-sizing: border-box; */
    margin: 0 auto;
    font-family: var(--main-ss-font);
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: var(--main-bg-color);
    z-index: 1;
    box-shadow: var(--main-ds);
}

h1 {
    display: inline-block;
    padding: 15px;
    font-family: var(--main-ss-font);
    font-weight: 700;
    margin: auto 0;
}

span {
    font-weight:900;
}

ul {
    color: teal;
    float: right;
    margin: auto 20px auto 0px;
}

li {
    display: inline;
    flex-direction: column;
}

a {
    font-family: monospace;
    text-decoration: none;
    padding: 10px;
}

content {
    box-sizing: border-box;
}

section:first-child {
    margin-top: 100px;
}

section {
    min-height: 75px;
    margin: 25px 10% 0 0;
    padding-left: 0;
}

.about {
    width: 100%;
    text-align: center;
}

.left {
    display: flex;
    justify-content: flex-end;
    float: left;
    width: 10%;
    margin: 0 50px;
}

h2 {
    font-weight: 600;
    text-align: right;
    margin: 0;
}

p {
    font-family: monospace;
    width: 60%;
    margin: auto;
}

.grid {
    max-width: 1200px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 20px;
}

.about .grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .grid p {
    font-size: 1.5em;
    line-height: 1.4em;
}
.Portrait {
    background: var(--main-bg-color);
    padding: 5px;
    object-fit: contain;
    height: 175px;
    width: 175px;
    box-shadow: var(--main-ds);
}

.Portrait img {
    height: 100%;
}

.project {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    background-color: var(--main-bg-color);
    padding: 5px;
    overflow: hidden;
    object-fit: contain;
    width: 47%;
    flex: 0 0 auto;
    align-items: flex-start;
    box-shadow: var(--main-ds);
}

.hero {
    overflow: hidden;
    flex: 2 2 100%;
}

.project img {
    overflow: hidden;
    object-fit: contain;
    height: auto;
    max-width: 100%;
    opacity: 60%;
    margin: auto;
    transition: opacity .25s ease-in-out;
}

.project img:hover {
    opacity: 100%;
    overflow: hidden;
}

h3 {
    display: inline-block;
    padding: 5px;
    position: absolute;
    bottom: 22px;
}

.project p {
    display:inline-block;
    padding: 5px;
    position: absolute;
    overflow:hidden;
    white-space: nowrap;
    bottom: 7px;
    width: auto;
}

.description {
    display:block;
    background: var(--main-bg-color);
    padding: 5px 5px 10px 5px;
    float: left;
    position: absolute;
    left: 0;
    bottom: 30%;
    height: 50px;
    width: 175px;
}

.item {
    margin: auto;
    text-align: center;
    height: 100px;
    padding: 0px;
}

.item img {
    width: 75px;
    height: auto;
}
@media only screen and (max-width: 768px) {
    header {
        height: 150px;
    }
    h1 {
        width: 150px;
    }    
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: flex-end;
        flex-wrap: wrap;
    }
    section:first-child {
        margin-top: 180px;
    }

    .about grid {
        flex-wrap: wrap;
        flex-direction: column;
    }
    p {
        display: block;
        text-align: center;
        width: 100%;
    }
    .project {
       width: 100%;
   }
   .hero {
       height: 400px;
   }
   .hero img {
       height: 100%;
       width:max-content;
   }
   .item {
        height: 75px;
        padding: 0 0 30px 0;
    }

    .item img {
        width: 60px;
        height: auto;
}
}